<%= simple_form_for(@taxi_request) do |f| %>
    <% unless @taxi_request.new_record? %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :cab_id %>
          <%= f.input :pickup_location %>
          <%= f.input :pickup_time, as: :string, input_html: {class: "datepicker"} %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>
<% end %>
