<br>
<table class="table table-bordered table-stripped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Taxi No.</th>
    <th>Driver Name</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @drivers.each_with_index do |driver, i| %>
      <% counter = i+1 %>
      <tr class="<%= taxi_status(driver) %>">
        <td><%= counter %></td>
        <td><%= driver.police_no %></td>
        <td><%= driver.username || "Anonymous" %></td>
        <td><%= status(driver) %></td>
        <td><%= link_to "send request", new_taxi_request_path(driver), class: "btn btn-mini btn-info", confirm: "Are you sure?", method: :post %></td>
      </tr>
  <% end %>
  </tbody>
</table>