<br>
<h1>Cabs</h1>
<table class="table table-bordered table-stripped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Taxi No.</th>
    <th>Driver Name</th>
    <th>Status</th>
    <th>Maps</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @cabs.each_with_index do |cab, i| %>
      <% counter = i+1 %>
      <tr class="<%= taxi_status(cab) %>">
        <td><%= counter %></td>
        <td><%= cab.police_no %></td>
        <td><%= cab.username || "Anonymous" %></td>
        <td><%= status(cab) %></td>
        <td><%= link_to image_tag("/assets/icon-map.png"), cab_path(cab) %></td>
        <td><%= link_to "send request", new_taxi_request_path(cab), class: "btn btn-mini btn-info", confirm: "Are you sure?", method: :post unless taxi_status(cab).eql?("error") %></td>
        </tr>
  <% end %>
  </tbody>
</table>