<%= link_to "Pushcab", root_path, :class => 'brand' %>
<% if user_signed_in? or cab_signed_in? %>
    <ul class="nav nav-pills pull-right">
      <% if current_user %>
          <li>
            <%= link_to 'CABS', taxi_requests_path %>
          </li>
      <% end %>

      <li class="dropdown" id="menu1">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
          My Account
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Edit account', send("edit_#{current_user ? 'user' : 'cab'}_registration_path") %>
          </li>
              <li>
                <%= link_to 'My Requests', my_requests_path %>
              </li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
          </li>
        </ul>
      </li>
    </ul>
<% end %>
